*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;

}
p{
    color: #727272;
    font-size: 1rem;
    text-align: l;
    max-width: 427px;
}


/* header related style */




header{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    padding-top: 30px;
    margin: 0 auto;
}
.nav-ul{
    display: flex;
    /* flex-direction: column; */
    list-style-type: none;
    gap: 40px;
    align-items: center;
}
.nav-ul a{
    text-decoration: none;
    color:#424242;
}

.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
    max-width: 700px;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin:50px auto;
    gap: 20px;
    
}

button.btn {
    color: white;
    padding: 16px 25px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
}

h1.brand {
    font-size: 2.2rem;
}

img {
    width: 100%;
}

h1.banner-title {
    font-size: 3rem;
}


 .banner {
    padding-bottom: 30px;
}




/* Features */

#features{
    max-width: 1140px;
    margin: 0 auto;
}

.feature-text-container{
    max-width: 400px;
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
    gap: 20px;
}
.feature-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 50%;
}

section#features {
    max-width: 1140px;
    margin: 90px auto;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}



h2.feature-tit {
    font-size: 2.2rem;
}

.style{
    color:#FF900E ;
}


/* enjoy section */


#enjoy{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
}
.enjoy-image img{
    width: 100%;
}
.enjoy-box-container{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.enjoy-box{
    box-shadow: 2px 2px 8px #80808087;
    padding: 20px 23px;
    border-radius: 10px;
    max-width: 500px;
}

.enjoy-image {
    max-width: 48%;
    position: relative;
}

h1.enjoy-title {
    font-size: 2.2rem;
    font-weight: bolder;
    border-left: 5px solid orange;
    padding-left: 10px;
    margin-bottom: 20px;
}

h1.enjoy-title {}

h3.enjoy-box-title {
    margin-bottom: 15px;
}

.enjoy-text {
    margin-bottom: 20px;
    /* max-width: 500px; */
}
span.years {
    font-size: 2rem;
    font-weight: bolder;
    /* padding: 13px 10px; */
}

button.experience{
    padding: 25px;
    /* margin-left: -90px; */
    position: absolute;
    left: -76px;
    bottom: -27px;
    /* margin-bottom: 100px; */
}




/* small device */

@media screen and (max-width:576px) {

    nav, .nav-ul, #features, #enjoy{
        flex-direction: column;
    }
    .nav-ul{
        margin-top: 20px;
    }
   img{
    width: 100%;
    height: auto;
   }


   .feature-image-container{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
   }
 .feature-text-container{
    justify-content: center;
    align-items: center;
    text-align: center;
 }

.enjoy-box-container{
    max-width: 80%;
    margin:0 auto;
}
.enjoy-image{
    max-width: 80%;
    margin: 0 auto;
}
button.experience{
    left: -50px;
}

}

/* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
       
        margin: 0 20px;
        
    }

    #features, #enjoy{
        flex-direction: column;
    }
    .feature-image-container{
        margin-bottom: 30px;
        max-width: 60%;
    }
    .enjoy-box-container{
        max-width: 60%;
    }
}