*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;

}
p{
    color: #727272;
    font-size: 1rem;
}


/* header related style */




header{
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    padding-top: 30px;
    margin: 0 auto;
}
.nav-ul{
    display: flex;
    /* flex-direction: column; */
    list-style-type: none;
    gap: 40px;
    align-items: center;
}
.nav-ul a{
    text-decoration: none;
    color:#424242;
}

.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
    max-width: 700px;
    flex-direction: column;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin:50px auto;
    gap: 20px;
    
}

button.btn {
    color: white;
    padding: 16px 25px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
}

h1.brand {
    font-size: 2.2rem;
}

img {
    width: 100%;
}

h1.banner-title {
    font-size: 3rem;
}


 .banner {
    padding-bottom: 30px;
}




/* Features */

#features{
    max-width: 1140px;
    margin: 0 auto;
}

.feature-text-container{
    max-width: 400px;
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
    gap: 20px;
}
.feature-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 50%;
}

section#features {
    max-width: 1140px;
    margin: 90px auto;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}



h2.feature-tit {
    font-size: 2.2rem;
}

.style{
    color:#FF900E ;
}


/* small device */

@media screen and (max-width:576px) {

    nav, .nav-ul, #features{
        flex-direction: column;
    }
    .nav-ul{
        margin-top: 20px;
    }
   img{
    width: 100%;
    height: auto;
   }


   .feature-image-container{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
   }
 .feature-text-container{
    justify-content: center;
    align-items: center;
    text-align: center;
 }
  
}

/* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
       
        margin: 0 20px;
        
    }

    #features{
        flex-direction: column;
    }
    .feature-image-container{
        margin-bottom: 30px;
    }
}